body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 /* body color */

/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,100&family=Poiret+One&family=Press+Start+2P&family=Russo+One&display=swap');
@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
/*
font-family: 'Jost', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Russo One', sans-serif;
*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/roboto.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/roboto.woff") format("woff");
}

/* starting code */
.txt2 {
	font-family: 'Jost', sans-serif;
  text-decoration: none;
  color: black;
}

.txt {
  font-family: 'Russo One', sans-serif;
}

.gg {
 text-align:  center;
}

.ggg {
		text-align:  center;
}